<div>
  <h3>Courses Taught by <%= "#{@user.first_name} #{@user.last_name}"%></h3>
  <ul>
    <% @courses.each do |course| %>
    <li><a href=<%= course_path(course)%>><%= course.name %></a></li>
    <% end %>
  </ul>
</div>
